@tailwind base;

@layer base {
  body {
    @apply min-w-[320px]
    text-clr_main text-base font-gilroy;
  }

  .no_scroll {
    @apply mobile:overflow-hidden;
  }

  /* h1 {
    @apply text-[56px] font-gilroy-bold
  } */
  h2 {
    @apply text-[40px] font-chester leading-10 mobile:text-[32px]
  }
  /* h3 {
    @apply text-[32px] font-gilroy-sm-bold
  }
  h4 {
    @apply text-[28px] font-gilroy-sm-bold
  }
  h5 {
    @apply text-[24px] font-gilroy-sm-bold
  }
  h6 {
    @apply text-[20px] font-gilroy-sm-bold
  } */
}

@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'BNChesterRegular';
  src: url('../../public/fonts/BN Chester Regular.woff2') format("woff2");
}

@font-face {
  font-family: 'GilroyBold';
  src: url('../../public/fonts/Gilroy-Bold.woff2') format("woff2");
}

@font-face {
  font-family: 'GilroyMedium';
  src: url('../../public/fonts/Gilroy-Medium.woff2') format("woff2");
}

@font-face {
  font-family: 'GilroyRegular';
  src: url('../../public/fonts/Gilroy-Regular.woff2') format("woff2");
}

@font-face {
  font-family: 'GilroySemiBold';
  src: url('../../public/fonts/Gilroy-SemiBold.woff2') format("woff2");
}
