@tailwind base;

@layer base {
  body {
    @apply min-w-[320px]
    text-clr_main text-base font-gilroy;
  }

  .no_scroll {
    @apply mobile:overflow-hidden;
  }

  h2 {
    @apply text-[40px] font-chester leading-10 mobile:text-[32px]
  }

  @font-face {
    font-family: 'BNChesterRegular';
    src: url('/fonts/BN Chester Regular.woff2') format("woff2");
  }
  
  @font-face {
    font-family: 'GilroyBold';
    src: url('/fonts/Gilroy-Bold.woff2') format("woff2");
  }
  
  @font-face {
    font-family: 'GilroyMedium';
    src: url('/fonts/Gilroy-Medium.woff2') format("woff2");
  }
  
  @font-face {
    font-family: 'GilroyRegular';
    src: url('/fonts/Gilroy-Regular.woff2') format("woff2");
  }
  
  @font-face {
    font-family: 'GilroySemiBold';
    src: url('/fonts/Gilroy-SemiBold.woff2') format("woff2");
  }
}

@tailwind components;
@tailwind utilities;
